:root {
    --bg-color: #e0e0e0;
    --shadow-dark: #bebebe;
    --shadow-light: #ffffff;
    --focus-color: #3498db;
}

body {
    background-color: #f3f4f7;
    padding-top: 24px;
}

input, textarea {
    border: none;
    border-radius: 10px;
    background: var(--bg-color);
    box-shadow: 
        8px 8px 15px var(--shadow-dark),
        -8px -8px 15px var(--shadow-light);
    padding: 10px 15px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

input, textarea:focus {
    box-shadow: 
        5px 5px 10px var(--shadow-dark),
        0 0 0 2px var(--focus-color);
    background: lighten(var(--bg-color), 10%);
}

.logo {
    height: 42px;
    margin-right: 16px;
    margin-top: 4px;
    border-radius: 127px;
    background: #e0e0e0;
    box-shadow:  9px 9px 25px #aaaaaa, -9px -9px 25px #ffffff;
}

.container {
    background-color: #f3f4f7;
    border-radius: 20px;
    box-shadow: 9px 9px 16px #a3b1c6, -9px -9px 16px #ffffff;
    padding: 30px;
}

.show-media-neuro {
    background-color: #f3f4f7;
    border-radius: 16px;
    box-shadow: 9px 9px 16px #ffa46f, -9px -9px 16px #ffffff;
    padding: 8px;
}
.show-media-neuro:hover {
    box-shadow: inset 9px 9px 16px #ffa46f, inset 18px 18px 16px #ffffff;
}

.btn-neuromorphic {
    background-color: #f3f4f7;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 1rem;
    color: #333;
    border: none;
    box-shadow: 9px 9px 16px #a3b1c6, -9px -9px 16px #ffffff;
    transition: all 0.2s ease;
}

.btn-neuromorphic:hover {
    background-color: #e0e3eb;
}

.btn-neuromorphic:active {
    box-shadow: inset 9px 9px 16px #a3b1c6, inset -9px -9px 16px #ffffff;
}

.btn-donate-neuro {
    width: 86%;
    background-color: #6fe7ff;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 1rem;
    color: #333;
    border: none;
    box-shadow: 9px 9px 16px #a3b1c6, -9px -9px 16px #ffffff;
    transition: all 0.2s ease;
}

.btn-donate-neuro:hover {
    background-color: #60cfe6
}

.btn-donate-neuro:active {
    box-shadow: inset 9px 9px 16px #a3b1c6, inset -9px -9px 16px #ffffff;
}


.btn-create-neuro {
    width: 86%;
    background-color: #ffa46f;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 1rem;
    color: #333;
    border: none;
    box-shadow: 9px 9px 16px #dd8c5e, -9px -9px 16px #ffffff;
    transition: all 0.2s ease;
}

.btn-create-neuro:hover {
    background-color: #dd8c5e
}

.btn-create-neuro:active {
    box-shadow: inset 9px 9px 16px #dd8c5e, inset -9px -9px 16px #ffffff;
}


.btn-neuro {
    background-color: #6fe7ff;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 1rem;
    color: #333;
    border: none;
    box-shadow: 9px 9px 16px #6fe7ff, -9px -9px 16px none;
    transition: all 0.2s ease;
}

.btn-neuro:hover {
    background-color: #6fe7ff
}

.btn-neuro:active {
    box-shadow: inset 9px 9px 16px #6fe7ff, inset -9px -9px 16px #ffffff;
}

.footer-neuromorphic {
    background-color: #f3f4f7;
    border-radius: 20px;
    box-shadow: 9px 9px 16px #a3b1c6, -9px -9px 16px #ffffff;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #31D2F2;
}

.creatorName {
    color: indigo;
}

.neuromorphic-card {
    background: #ecf0f3; 
    border-radius: 15px;
    box-shadow: 10px 10px 20px #d1d9e6, -10px -10px 20px #ffffff;
    padding: 10px;
    transition: all 0.3s ease; 
}

.neuromorphic-card:hover {
    box-shadow: 5px 5px 10px #d1d9e6, -5px -5px 10px #ffffff;
    transform: scale(1.02); 
}

.neuromorphic-card img {
    border-radius: 15px;
    box-shadow: inset 3px 3px 6px #d1d9e6, inset -3px -3px 6px #ffffff;
}

.neuromorphic-card .btn-neuro {
    background: #ecf0f3;
    color: #333;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #d1d9e6, -3px -3px 6px #ffffff;
    transition: all 0.3s ease;
    width: 100%; 
}

.neuromorphic-card .btn-neuro:hover {
    box-shadow: inset 3px 3px 6px #d1d9e6, inset -3px -3px 6px #ffffff;
    color: #555;
    background: #e0e5ec;
}


.neuromorphic-card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.neuromorphic-card .card-text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

.disabled {
    pointer-events: none
}